<%- include("header") -%>
<div class="title-div">
    <h1 class="title"> Enter the name of an NBA player from the 2023 season </h1>
</div>

<form>
    <div class="mb-3" id="form-div">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
   
</form>



<%- include("footer") -%>