<%- include("header") -%>
<div class="title-div">
    <h1 class="title"> NBA PLAYER STAT LOADER </h1>
    <h2 class="year">2023</h2>
</div>

    <div class="container">
        <div class="row">
            <div class="col order-2">
                <div class="mb-3">
                  <form action="/" method="post">
                      <label for="player-name" class="form-label">Player Name</label>
                      <input type="text" class="form-control" style="width: 350px;" name="playerName">
                          <div class="button-div">
                            <button type="submit" class="btn btn-light" name="button">Submit</button>
                          </div>
                  </form>
                </div>
            </div>
                <div class="col order-1">
                  <table class="table table-bordered table-sm" style="width:250px" >
                    <thead>
                      <tr >
                        <th scope="col">Player Info</th>
                        <th scope="col">Result</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>NAME</td>
                        <td>Mark</td>
                      </tr>
                      <tr>
                        <td>TEAM</td>
                        <td>Jacob</td>
                      </tr>
                      <tr>
                        <td>POS</td>
                        <td>Larry</td>
                      </tr>
                      <tr>
                        <td>AGE</td>
                        <td>Larry</td>
                      </tr>
                      <tr>
                        <td>GP</td>
                        <td>Larry</td>
                      </tr>
                      <tr>
                        <td>MIN</td>
                        <td>Larry</td>
                      </tr>
                      <tr>
                        <td>FG PER GAME</td>
                        <td>Larry</td>
                      </tr>
                      <tr>
                        <td>FGA PER GAME</td>
                        <td>Larry</td>
                      </tr>
                      <tr>
                        <td>FG PERCENTAGE</td>
                        <td>Larry</td>
                      </tr>
                      <tr>
                        <td>3P PERCENTAGE</td>
                        <td>Larry</td>
                      </tr>
                      <tr>
                        <td>2P PERCENTAGE</td>
                        <td>Larry</td>
                      </tr>
                      <tr>
                        <td>FT PERCENTAGE</td>
                        <td>Larry</td>
                      </tr>
                      <tr>
                        <td>ORB PER GAME</td>
                        <td>Larry</td>
                      </tr>
                      <tr>
                        <td>DRB PER GAME</td>
                        <td>Larry</td>
                      </tr>
                      <tr>
                        <td>TRB PER GAME</td>
                        <td>Larry</td>
                      </tr>
                      <tr>
                        <td>AST PER GAME</td>
                        <td>Larry</td>
                      </tr>
                      <tr>
                        <td>STL PER GAME</td>
                        <td>Larry</td>
                      </tr>
                      <tr>
                        <td>BLK PER GAME</td>
                        <td>Larry</td>
                      </tr>
                      <tr>
                        <td>TOV PER GAME</td>
                        <td>Larry</td>
                      </tr>
                      <tr>
                        <td>PTS PER GAME</td>
                        <td>Larry</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
          </div>
      </div>



<%- include("footer") -%>